$default: #243f4d;
$accent: #436372;
$title: #191919;
$bg: #fcd7b6;
$bg-btn: #a3bbc8;
$filter-active: #1a1a1a;
$filter-btn: #8b8b8b;
$footer-title: #1f2044;
$footer-link: #7b7b7b;
$link-hover: #666666;
$input: #234969;

// $xl: px;
// $lg: px;
$md: 1095px;
$sm: 850px;
$xs: 575px;

$xl: px;
$lg: px;
$md: px;
$sm: px;
$xs: px;

%image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik' , sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik' , sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins' , sans-serif;
  font-weight: 700;
}