@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  z-index: 999;
  position: fixed;
  
  width: 100%;

  background-color: #ffffff;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
  }
}

.logo {
  &__link {
    display: inline-block;
  }

  &__img {
    display: inline-block;
  }

}

.menu {

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $accent;
    text-decoration: none;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @extend %image;
    background-size: auto;

    &:nth-child(even) {
      margin: 0 58px;
    }

    &--search {
      background-color: #EDF1F4;
      background-image: url("../images/icon/search.svg");
    }

    &--menu {
      background-color: $bg-btn;
      background-image: url("../images/icon/menu.svg");
    }
  }

  &__group {
    
    position: relative;
    margin: 0 36px;
    background-color: $bg;

    &::before {
      content: "";
      position: absolute;
      right: 98%;

      width: 21px;
      height: 100%;

      background-color: $bg;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 99%;

      width: 21px;
      height: 100%;

      background-color: $bg;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    
  }

    &__group-link {
      position: relative;
      display: inline-block;
      padding: 26px 25px 20px 25px;
      border-radius: 50%;
      
      @extend %image;
      background-size: auto;
      background-position: 50% 22px;

      &--like {
        background-image: url("../images/icon/like.svg");
      }

      &--basket {
        background-image: url("../images/icon/basket.svg");
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 12px;
        right: -4px;
        
        width: 1px;
        height: 32px;

        background-color: #ffffff;
        opacity: 0.4;
      }
    }


  &__num {
    position: absolute;
    display: inline-block;
    top: 14px;
    right: 6px;
    text-align: center;
    max-width: 16px;
    width: 100%;
    height: 16px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 1.5;
    
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  
}

.footer {
padding-top: 80px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
  }

  &__item {
    max-width: 270px;
    width: 100%;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.8;
    color: $footer-link;
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__address {
    font-style: normal;
  }

  &__address-text {
    max-width: 220px;
  }

  &__address-text + .footer__address-text {
    margin-top: 8px;
  }

  &__address-name,
  &__title {
    text-transform: uppercase;
  }

  &__title {
    margin: 13px 0 14px;
    @extend %dmsans-700;
    font-size: 16px;
    color: $footer-title;
  }

  &__text-item {

    &:not(:last-child) {
      margin-bottom: 7px;
    }

  } 
  
  
  &__link {
    color: $footer-link;
    transition: color 0.3s;

    &:hover {
      color: $footer-title;
    }

  }

  &__subtitle {
    max-width: 250px;
    margin-bottom: 33px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__email {
    max-width: 170px;
    width: 100%;
    padding: 8px 14px;
    @extend %dmsans-400;
    font-size: 12px;
    color: $input;
    background-color: #fef7f0;
    border: none;

    &::placeholder{
      color: $input;
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1.2;
    }

  }

  &__submit {
    max-width: 100px;
    width: 100%;
    padding: 8px 14px;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: $footer-link;
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    padding: 0 15px;

    &:not(:last-child) {
      border-right: 1px solid $footer-link;
    }
    
    &:last-child {
      padding-right: 0;
    }
  }


}

.main-slider {
  min-height: calc(820px - 157px);
  margin-top: 157px;
  
  &__wrapper {
    background-color: $bg;
  }

  &__inner {
    position: relative;
    min-height: 820px;
  }

  &__item {
    position: relative;

    display: flex !important;
    padding: 100px 170px 200px;

    &::after {
      content: "";
      position: absolute;
      right: 185px;
      width: 634px;
      height: 634px;
      background: linear-gradient( 90deg, rgba(255,255,255, 0) 0%, rgb(255,255,255) 100%);
      border-radius: 50%;
    }

  }
  
  &__text {
    flex: none;
    margin: 115px 0 0 130px;
    max-width: 470px;
  }

  &__title {
    margin-bottom: 25px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    
    text-transform: uppercase
  }

  &__discription {
    max-width: 370px;
    margin-bottom: 35px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.6;
    color: $accent;
  }
  
  &__img {
    z-index: 10;
    align-self: flex-end;

    margin-left: 60px;

    object-fit: none;
  }

  & .slick-dots {
    position: absolute;
    bottom: 42px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  
  & li + li {
    margin-left: 10px;
  }
  
  & li.slick-active button{
    background-color: #ffffff;
    opacity: 1;
  }

  & button {
    max-width: 30px;
    width: 30px;
    min-height: 30px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    
    background-color: #ffffff;
    opacity: 0.3;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  background-color: #fef7f0;
  
  &__item {
    position: relative;
    max-width: 370px;
    padding-left: 124px;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50px;
      width: 54px;
      height: 54px;
      @extend %image;
    }
    
    &--support::before {
      width: 51px;
      background-image: url("../images/icon/support.svg");
    }

    &--delivery::before {
      height: 37px;
      background-image: url("../images/icon/delivery.svg");
    }

    &--payment::before {
      height: 53px;
      background-image: url("../images/icon/payment.svg");
    }

  }
  
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    color: #414141;
  }
  
  &__text {
    max-width: 230px;
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.8;
    color: #585858;
  }
  
}

.products-week {
  text-align: center;

  padding-top: 70px;
  
  &__title {
    margin-bottom: 26px;
  }
  
  &__wrapper {
    display: grid;
    grid-template: repeat(2, 380px) / repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    min-height: 800px;
    padding-bottom: 186px;
  }

}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 10px 10px 35px;

  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &:hover &__nav {
    opacity: 1;
  }
  
  &__img {
    align-self: center;
    
    display: inline-block;
    margin: auto 0;
    padding-bottom: 55px;
  }
  
  &__nav {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    opacity: 0;
  }
  
  &__btn {
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 45px;
    width: 100%;
    min-height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s;
    
    &:nth-child(2) {
      margin: 0 10px;
    }
    
    &:hover {
      background-color: $bg-btn;
    }
    
    &:hover path {
      transition: fill 0.5s;
      fill: #ffffff;
    }

  }
  
  &__name {
    margin-bottom: 10px;
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 1.2;
    
  }
  
  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $bg-btn;
    
    &::before {
      content: "$";
    }

  }
  
}

.filter {
  display: flex;
  justify-content: center;
  
  .products-week & {
  margin-bottom: 80px;
  }

  .new-design & {
    margin-bottom: 78px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 15px;
    }

  }
  
  &__btn {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $filter-btn;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  & .mixitup-control-active {
    color: $filter-active;
  }

}

.marketing-lamp {
  text-align: start;

  padding-bottom: 104px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__item {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    padding-bottom: 85px;

    background-color: #feefe2;
  }

  &__img {
    position: absolute;
    top: -100px;
    left: 135px;
  }

  & &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    max-width: 400px;
    margin-left: auto;
    margin-right: 84px;
  }

  &__name {
    max-width: 275px;
    margin-bottom: 20px;

    @extend %dmsans-700;
    font-size: 26px;
  }

  &__text {
    margin-bottom: 30px;

    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.8;
  }

  &__link {
    display: inline-block;
    max-width: 182px;
    width: 100%;
    padding: 20px 45px 20px 20px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $accent;

    border: 1px solid #b3b7b5;
    border-radius: 5px;
    background-image: url("../images/icon/right-arrow-dark.svg");
    background-repeat: no-repeat;
    background-position: 138px center;
    background-size: 22px 9px;
  }
 
}

.new-design {
  text-align: center;

  &__title {
    margin-bottom: 29px;
  }

  &__wrapper {
    display: grid;
    grid-template: repeat(2, 246px) / repeat(3, 370px);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
    margin-bottom: 120px;
  }
  
  &__item {
    position: relative;
    text-align: start;

    padding: 43px 0 0 38px;

    background-color: #f8f8f8;
  }

  &__list {
    z-index: 10;
    position: relative;
    max-width: 200px;

    @extend %dmsans-700;
    line-height: 1.2;
  }
  
  &__name {
    margin-bottom: 21px;

    font-size: 20px;
    color: $title;
  }

  &__quality {
    font-size: 16px;

    &--classic {
      color: $bg-btn;
    }
  }
  
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  
  @extend %image;

  &__link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 98px;

    background-color: $bg-btn;
    border-radius: 50%;
    
    & svg {
      z-index: 2;
    }
    
    &:hover::after {
      opacity: 0.4;
    }
    
    &::after {
      content: "";
      position: absolute;
      
      width: 127px;
      height: 127px;
      
      border-radius: 50%;
      background-color: $bg-btn;
      opacity: 0;

      transition: opacity 0.3s;
    }
  }
}

.news-sponsors {
  z-index: 1;
  position: relative;
}

.news {
  min-height: 450px;
  padding-top: 120px;

  
  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 55px;
  } 

  &__link {
    position: relative;

    padding-right: 25px;

    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 2px;

      width: 7px;
      height: 12px;

      background-image: url("../images/icon/arrow.svg");
      @extend %image;
    }
  }

  &__articles {
    position: relative;
    bottom: -185px;

    display: flex;
    justify-content: space-between;
    margin-top: -185px;
  }

  &__article {
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 370px;
    padding-bottom: 19px;

    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #ffffff;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }  

  &__img {
    &-wrapper {
      margin-bottom: 36px;
      max-width: 370px;
      width: 100%;
      min-height: 250px;
      max-height: 250px;
    }
  }

  &__news {
    display: none;

    position: absolute;
    top: 235px;
    left: 27px;

    padding: 5px 30px;

    font-size: 14px;
    @extend %poppins-700;
    color: #ffffff;

    text-transform: uppercase;

    background-color: #a3bbc8;
    border-radius: 30px;
    &--yes {
      .news__news {
        display: inline-block;
      }
    }
  }  

  &__comment {    
    max-width: 310px;
    margin: 0 0 40px 30px;

    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
  }
  
  &__bottom {
    position: relative;

    max-width: 315px;
    margin: auto 0 0 35px;

    &::before {
      content: "";
      position: absolute;
      top: -18px;
      left: -3px;
      

      width: 100%;
      height: 1px;

      background-color: rgb(224, 224, 224);
    }
    
    a {
      font-size: 12px;
      color: #222933;
      text-transform: uppercase;
    }
  }

  &__date {
    margin-right: 40px;
  }

}

.sponsors {
  z-index: -10;
  position: relative;
  min-height: 436px;
  background-color: #fef7f0;

  &__item {
    max-width: 150px;
    img {
      display: inline-block;
    }
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 436px;
    padding-bottom: 90px;
  }
}

.breadcrumbs {
  text-align: center;

  padding: 32px 0;

  background-color: #edf1f4;

  &__title {
    margin-bottom: 15px;
    @extend %rubik-300;
    font-size: 36px;
    color: #222933;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    font-size: 14px;
    &:not(:last-child) {
      padding-right: 5px;
      &:after {
        content: "/";
        font-size: inherit;
      }
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: inherit;
    color: rgba(34, 41, 51, 0.6);
  }
  
}


.about {
  padding: 120px 0;

  &__wrapper {
    display: flex;
  }

  &__img {
    max-width: 570px;
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 100px 0 90px 45px;
  }

  &__years {
    position: relative;
    max-width: 100px;
    margin: 0 0 50px 200px;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.8;

    &::before {
      content: "12";
      position: absolute;
      left: -200px;
      top: -50px;
      font-size: 140px;
      line-height: 1.2;
      @extend %rubik-700;
      color: #a3bbc8;
    }

  }

  &__subtitle {
    margin-bottom: 45px;

    @extend %dmsans-700;
    font-size: 36px;
    color: #243f4d;
  }

  &__discription {
    max-width: 550px;
    margin-bottom: 50px;

    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
  }

  &__bottom {
    position: relative;

    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: auto;
    padding-top: 40px;

    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      max-width: 500px;
      width: 100%;
      height: 3px;

      background-color: #e6eaf0;
    }
  }
 

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    position: relative;
    padding-left: 70px;

    color: #243f4d;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;

      width: 50px;
      height: 50px;

      @extend %image;
    }

    &--projects {
      &::before{
        left: 5px;
        background-image: url("../images/icon/list.svg");
      }
    }

    &--revenue {
      &::before {
        width: 55px;
        background-image: url("../images/icon/golos.svg");
      }
    }

    &--awards {
      &::before {
        background-image: url("../images/icon/award.svg");
      }
    }
  }

  &__num {
    margin-bottom: 2px;

    @extend %dmsans-700;
    font-size: 32px;
    line-height: 1.056;
  }

  &__text { 
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.063;
  }
}

.statistics {
  text-align: center;

  padding: 80px 0;

  background-color: #fcd7b6;

  &__items {
    display: flex;
    justify-content: space-around;
    @extend %dmsans-700;
    color: #243f4d;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__num {
    margin-bottom: 15px;

    font-size: 36px;
    line-height: 1;
  }

  &__text {
    font-size: 18px;
    line-height: 1.7;
  }  
}

.team {
  padding: 120px 0 0;

  &__wrapper {
    display: flex;
  }

  &__aside {
    max-width: 280px;
    margin-right: 120px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__discription {
    margin-bottom: 40px;

    @extend %rubik-400;
    font-size: 16px;
    color: rgb(36, 63, 77);
    line-height: 1.8;
  }
  
  &__btn {
    max-width: 150px;
    padding: 18px 40px 18px 15px;

    border-radius: 5px;

    &::after {
      top: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 100px 30px;
    width: 100%;
  }

  &__item {
    position: relative;

    max-width: 370px;
    width: 100%;
    min-height: 320px;

    @extend %image;
  }

  &__bottom {
    position: absolute;
    left: 0;
    bottom: -55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;
    width: 100%;
    min-height: 110px;
    padding: 0 20px 0 25px;

    background-color: #ffffff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  
  &__name {
    margin-bottom: 5px;

    @extend %dmsans-700;
    font-size: 22px;
    line-height: 1.18;
  }

  &__profession {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.875;
    color: #565872;
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;

    background-color: #f6f6f6;
    border-radius: 50%;

    @extend %image;
    background-size: auto;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--instagram {
      background-image: url("../images/icon/instagram.svg");
    }

    &--google {
      background-image: url("../images/icon/google.svg");
    }
  }

}





@import "media";