@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
  }
}

.logo {
  display: inline-block;

  &__img {
    display: inline-block;
  }

}

.menu {
  margin-bottom: 10px;

  &__list {
    display: flex;
  }

  &__item + .menu__item {
    margin-left: 34px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $accent;
    text-decoration: none;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__num {
    top: -10px;
    right: -10px;
    text-align: center;
    position: absolute;
    width: 16px;
    height: 16px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 1.5;
    color: $default;
    background-color: #ffffff;
    border-radius: 50%;
  }

  &__link--search {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #EDF1F4;
    background-image: url("../images/icon/search.png");
    @extend %image;
    background-size: 18px 18px;
    border-radius: 50%;
  }

  &__group {
    margin: 0 20px;
    padding: 7px 40px;
    background-color: $bg;
    border-radius: 30px;
  }

  &__link--like {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/like.png");
    @extend %image;
    background-size: 18px 18px;
  }

  &__line {
    display: inline-block;
    width: 1px;
    height: 32px;
    margin: 0 28px;
    background-color: #FDE7D3;
  }

  &__link--basket {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/icon/basket.png");
    @extend %image;
    background-size: 18px 18px;
  }

  &__link--menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $bg-btn;
    background-image: url("../images/icon/menu.png");
    @extend %image;
    background-size: 18px 18px;
    border-radius: 50%;
  }
}

.footer {
padding-top: 80px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
  }

  &__item {
    max-width: 270px;
    width: 100%;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.8;
    color: $footer-link;
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__address {
    font-style: normal;
  }

  &__address-text {
    max-width: 220px;
  }

  &__address-text + .footer__address-text {
    margin-top: 8px;
  }

  &__address-name,
  &__title {
    text-transform: uppercase;
  }

  &__title {
    margin: 13px 0 14px;
    @extend %dmsans-700;
    font-size: 16px;
    color: $footer-title;
  }

  &__text .footer__text-item + .footer__text-item {
    margin-top: 7px;
  }
  
  &__link {
    color: $footer-link;
    transition: color 0.3s;
    &:hover {
      color: $footer-title;
    }
  }

  &__subtitle {
    max-width: 250px;
    margin-bottom: 33px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__email {
    max-width: 170px;
    width: 100%;
    padding: 8px 14px;
    @extend %dmsans-400;
    font-size: 12px;
    color: $input;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      color: $input;
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1.2;
    }
  }

  &__submit {
    max-width: 100px;
    width: 100%;
    padding: 8px 14px;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: $footer-link;
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    padding: 0 15px;
  }

  &__nav-item + .footer__nav-item {
    border-left: 1px solid $footer-link;
  }

  &__nav-item:last-child {
    padding-right: 0;
  }

}

.main-slider {
  min-height: 820px;
  
  &__wrapper {
    background-color: $bg;
  }

  &__inner {
    position: relative;
    min-height: 820px;
  }

  &__item {
    padding: 100px 170px 85px;
    display: flex !important;
    justify-content: space-between;
  }
  
  &__text {
    margin: 115px 0 0 147px;
    max-width: 470px;
  }

  &__title {
    margin-bottom: 25px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    color: $default;
    text-transform: uppercase
  }

  &__discription {
    max-width: 370px;
    margin-bottom: 35px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.6;
    color: $accent;
  }

  &__link {
    position: relative;
    display: inline-block;
    max-width: 200px;
    width: 100%;
    padding: 27px 18px 21px 27px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: #ffffff;
    background-color: $bg-btn;

    &::after {
      content: "";
      position: absolute;
      top: auto;
      bottom: auto;
      right: 18px;
      width: 22px;
      height: 9px;
      background-image: url("../images/icon/right-arrow.png");
      @extend %image;
    }
  }

  & .slick-dots {
    position: absolute;
    bottom: 42px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  
  & li + li {
    margin-left: 10px;
  }
  
  & li.slick-active button{
    background-color: #ffffff;
    opacity: 1;
  }

  & button {
    max-width: 30px;
    width: 30px;
    min-height: 30px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $default;
    background-color: #fde3cc;
    opacity: 0.3;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #fef7f0;
  }

  &__bottom-item {
    position: relative;
    max-width: 370px;
    padding-left: 124px;

    &--support::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50px;
      width: 50px;
      height: 50px;
      background-image: url("../images/icon/support.svg");
      @extend %image;
    }

    &--delivery::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50px;
      width: 50px;
      height: 30px;
      background-image: url("../images/icon/delivery.svg");
      @extend %image;
    }

    &--payment::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50px;
      width: 50px;
      height: 45px;
      background-image: url("../images/icon/payment.svg");
      @extend %image;
    }

    &--support::after {
      content: "";
      position: absolute;
      top: 45px;
      left: 80px;
      width: 20px;
      height: 20px;
      background-color: #dfe3e2;
      border-radius: 50%;
    }

    &--delivery::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 85px;
      width: 20px;
      height: 20px;
      background-color: #dfe3e2;
      border-radius: 50%;
    }

    &--payment::after {
      content: "";
      position: absolute;
      top: 45px;
      left: 85px;
      width: 20px;
      height: 20px;
      background-color: #dfe3e2;
      border-radius: 50%;
    }
  }
  
  &__bottom-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    color: #414141;
  }

  &__bottom-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.8;
    color: #585858;
  }

}

.filter {
  text-align: center;
  padding-top: 70px;

  &__nav {
    margin-bottom: 80px;
  }

  &__nav-btn {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $filter-btn;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &--active {
      color: $filter-active;
    }
  }

  &__nav-btn + .filter__nav-btn {
    margin-left: 15px;
  }

  &__wrapper {
    display: grid;
    grid-template: repeat(2, 380px) / repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    min-height: 800px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 35px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover .filter__btn {
      opacity: 1;
    }
  }
  
  &__img {
    margin: auto 0;
    padding-bottom: 55px;
    align-self: center;
    display: inline-block;
  }

  &__btn {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    opacity: 0;
  }

  &__btn-item {
    display: inline-block;
    max-width: 45px;
    width: 100%;
    min-height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 20px;
    &--search {
      background-image: url("../images/filter/icon/search.png");
      background-size: 20px 20px;
    }
    &--buy {
      background-image: url("../images/filter/icon/buy.png");
      background-color: $bg-btn;
    }
    &--like {
      background-image: url("../images/filter/icon/like.png");
      background-size: 22px 18px;
    }
    &:nth-child(2) {
      margin: 0 10px;
    }
  }

  &__name {
    margin-bottom: 10px;
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 1.2;
    color: $default;
  }

  &__price {
    position: relative;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $bg-btn;

    &::before {
      content: "$";
      position: absolute;
      left: 90px;
    }
  }

 
  



}

.products-week__title {
  margin-bottom: 26px;
}




@import "media";