.contact {
    text-align: center;
    padding: 120px 0;

    @media(max-width: $xs) {
        padding: 50px 0;       
    }

    &__subtitle {
        margin-bottom: 5px;

        @extend %poppins-700;
        font-size: 16px;
        color: #a3bbc8;
    }

    &__title {
        margin-bottom: 70px;

        @extend %dmsans-700;
        font-size: 35px;
    }

    &__address {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 0 30px;
        margin-bottom: 120px;

        font-style: normal;

        @media(max-width: $sm) {
            grid-template: 1fr 1fr / 1fr 1fr;
            gap: 30px;
        }

        @media(max-width: $xs) {
            margin-bottom: 20px;
            grid-template: 1fr 1fr 1fr / 1fr;
        }
    }
      

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 380px;

        border: 2px solid transparent;
        background-color: #fbfbfb;

        transition: border-color 0.3s;

        &:first-child {
            .contact__description {
                max-width: 200px;
            }
        }

        &:hover {
            border-color: #a3bbc8;

            .contact__svg-wrapper {
                background-color: #a3bbc8;
                svg {
                    path {
                        fill: #ffffff;
                    }
                }
            }
        }

        @media(max-width: $sm) {
            max-width: 370px;
            &:first-child {
                grid-column: span 2;
                margin: 0 auto;
            }
        }

        @media(max-width: $xs) {
            margin: 0 auto;
            &:first-child {
                grid-column: 1 / 2;
            }
        }
    }

    &__svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        margin-bottom: 55px;

        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

        transition: background-color 0.3s;

        svg {
            path {
                transition: fill 0.3s;
            }
        }
    }

    &__name {
        margin-bottom: 25px;

        @extend %dmsans-700;
        font-size: 20px;
        color: #222222;
    }

    &__description {
        font-size: 16px;
        line-height: 1.8;
        color: #565872;
    }

    &__link {
        font-size: inherit;
        line-height: inherit;
        color: inherit;

        transition: color 0.3s;
        &:hover {
            color: #222222;
        }
    }

    &__bottom {
        display: grid;
        grid-template: 1fr / 1fr 515px;
        gap: 0 35px;

        @media(max-width: $md) {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            grid-template: 1fr 1fr/ 800px;
        }

        @media(max-width: $sm) {
            grid-template: 1fr 1fr / 1fr;
        }

        @media(max-width: $xs) {
            grid-template: 1fr 180px / 1fr;
        }
    }

    &__form {
        display: grid;
        grid-template: 50px 175px 50px / 1fr 1fr;
        gap: 25px 20px;

        @media(max-width: $xs) {
            grid-template: 50px 50px 175px 50px / 1fr;

            margin-bottom: 30px;
        }
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 0 50px 0 20px;

        font-size: 16px;

        border: none;
        background-color: #fafafa;

        @extend %image;
        background-size: auto;
        background-position: calc(100% - 20px);

        &::placeholder {
            text-transform: uppercase;
            color: #565872;
        }

        &--name {
            background-image: url("../images/icon/user-2.svg");
        }

        &--email {
            background-image: url("../images/icon/email-2.svg");
        }

        &--textarea {
            grid-column: 1 / 3;
            height: 175px;
            padding: 15px 50px 15px 20px;

            background-image: url("../images/icon/textarea-2.svg");
            background-position: calc(100% - 20px) 20px;

            resize: none;

            @media(max-width: $xs) {
                grid-column: 1 / 2;
            }
        }
    }

    &__submit {
        width: 200px;
        height: 50px;

        @extend %poppins-600;
        font-size: 15px;
        color: #ffffff;

        border: none;
        background-color: #a3bbc8;
        border-radius: 5px;

        cursor: pointer;
    }

    &__img {
        @media(max-width: $md) {
            margin: 0 auto;
        }
    }
}  