.products-week {
  text-align: center;
  
  padding-top: 70px;
    
  @media(max-width: $xs) {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 26px;

    @media(max-width: $sm) {
      margin-bottom: 16px;

      font-size: 32px;
    }

    @media(max-width: $xs) {
      max-width: 240px;
      margin: 0 auto 8px;
      
      font-size: 24px;
    }
  }

  .filter {
    margin-bottom: 80px;

    @media(max-width: $sm) {
      margin-bottom: 50px; 
    }

    @media(max-width: $xs) {
      margin-bottom: 30px;
    }
  }
    
  &__wrapper {
    display: grid;
    grid-template: repeat(2, 380px) / repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    min-height: 800px;
    padding-bottom: 186px;

    @media(max-width: $md) {
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    @media(max-width: $sm) {
      grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }

    @media(max-width: $xs) {
      grid-template: repeat(8, 1fr) / repeat(1, 1fr);
    }
  } 
}