<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee. Smart and trendy | Product Detalis</title>
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include "app/module/_global/_header.html" %}

  <main class="main">

    {% include "app/module/_breadcrumbs/_product_detalis.html" %}

    {% include  "app/module/product_detalis/_product_detalis.html" %}

    {% include  "app/module/product_detalis/_related_products.html" %}

    {% include "app/module/_global/_news-sponsors.html" %}

  </main>

  {% include "app/module/_global/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>

</html>