.blog-item {
    width: 100%;

    &__wrapper {
        position: relative;

        width: 100%;
        margin-bottom: 35px;

        @media(max-width: $md) {
          margin-bottom: calc(20px + (35 - 20) * ((100vw - 851px) / (1095 - 851)));
        }

        @media(max-width: $xs) {
          margin-bottom: 20px;
        }
    }

    &__img {
        object-fit: fill;
        max-height: 500px;
    }

    &__info {
        position: absolute;
        align-items: center;
        left: 0;
        bottom: 0;

        display: flex;
        min-height: 70px;
        padding: 0 25px;

        background-color: #a3bbc8;

        @media(max-width: $md) {
          min-height: 60px;
          padding: 0 20px;
        }

        @media(max-width: $sm) {
          min-height: 40px;
          padding: 0 10px;
        }
    }

    &__link {
        @extend %rubik-400;
        font-size: 12px;
        color: #ffffff;
        line-height: 1.2;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 25px;
        }

        @media(max-width: $sm) {
            font-size: 10px;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &__bottom {
        max-width: 700px;
    }

    &__title {
        margin-bottom: 30px;

        @extend %rubik-400;
        font-size: 36px;
        color: #333333;

        @media(max-width: $md) {
          margin-bottom: calc(15px + (30 - 15) * ((100vw - 851px) / (1095 - 851)));
        
          font-size: calc(25px + (30 - 25) * ((100vw - 851px) / (1095 - 851)));
        }

        @media(max-width: $sm) {
          margin-bottom: 5px;
          font-size: 16px;
        }
    }

    &__description {
        margin-bottom: 30px;

        @extend %rubik-400;
        font-size: 16px;
        color: #243f4d;
        line-height: 1.8;

        @media(max-width: $md) {
          margin-bottom: calc(15px + (30 - 15) * ((100vw - 851px) / (1095 - 851)));

          font-size: calc(14px + (16 - 14) * ((100vw - 851px) / (1095 - 851)));
        }

        @media(max-width: $sm) {
          margin-bottom: 10px;
          font-size: 12px;
        }
    }

    &__btn {
        align-items: center;
        position: relative;

        display: flex;
        width: 178px;
        min-height: 58px;
        padding: 0 50px 0 20px;

        @extend %nunito-700;
        font-size: 15px;
        color: #a3bbc8;

        border: 1px solid #a3bbc8;
        background-color: #ffffff;

        &::after {
            content: "";
            position: absolute;
            right: 20px;

            width: 22px;
            height: 9px;

            background-image: url("../images/icon/right-arrow.svg");
            @extend %image;
        }

        @media(max-width: $sm) {
            width: 150px;
            min-height: 40px;
            font-size: 12px;
        }
    }

}


  
  
