.brand {
    grid-area: brand;
    &__wrapper {
        display: grid;
    }

    &__btn {
        text-align: left;
        align-items: center;
        display: grid;

        grid-template: 42px / 1fr 1fr;
        padding: 0 10px;

        @extend %rubik-400;
        font-size: 16px;
        color: $default;

        border: none;
        background-color: #ffffff;

        cursor: pointer;

        transition: background-color 0.3s;

        &--active {
            background-color: rgba(163, 187, 200, 0.2);
            .brand__num {
                color: $default;
            }
        }

        &:not(.brand__btn--active) {
            &:hover {
                background-color: rgba(163, 187, 200, 0.1);
            }
        }
    }

    &__num {
        justify-self: end;

        color: #b3b3b3;
    }
}  