.filter {
    display: flex;
    justify-content: center;
  
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
  
      @media(max-width: $sm) {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    
    &__btn {
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 1.2;
      color: $filter-btn;
      border: none;
      background-color: transparent;
      cursor: pointer;

      @media(max-width: $sm) {
        font-size: 14px;
      }

      @media(max-width: $xs) {
        font-size: 10px;
      }
    }
    
    & .mixitup-control-active {
      color: $filter-active;
    }
  
}