.product-card {
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;

  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &:hover &__nav {
    opacity: 1;
  }
  
  &__img {
    align-self: center;

    display: inline-block;
    margin: auto 0;

  }
  
  &__img-item {
    @media(max-width: $sm) {
      max-height: 150px;
    }
  }
  
  &__wrapper {
    margin: auto auto;
  }

  &__nav {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    opacity: 0;

    @media(max-width: $md) {
      bottom: 125px;
    }

    @media(max-width: $sm) {
      bottom: 110px;
    }

    @media(max-width: $xs) {
      bottom: 70px;
      opacity: 1;
    }
  }

  &__btn {
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 45px;
    width: 100%;
    min-height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s;
    
    &:nth-child(2) {
      margin: 0 10px;
    }
    
    &:hover {
      background-color: $bg-btn;
    }
    
    &:hover path {
      transition: fill 0.5s;
      fill: #ffffff;
    }

  }

  &__name {
    margin-bottom: 10px;
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 1.2;
  }
  
  &__stars {
    display: none;
  }

  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $bg-btn;
    
    &::before {
      content: "$";
    }
  }

  &__discription {
    display: none;
  }
}