.recent-posts {

    &__items {
        display: grid;
        grid-template-rows: repeat(4, 70px);
        gap: 30px 0;
    }

    &__article {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 0 20px;
    }

    &__img {
        object-fit: fill;
    }

    &__subtitle {
        margin-bottom: 10px;
       font-size: 14px;
       color: #333333;
    }

    &__date {
        font-size: 12px;
        color: #9a9a9a;
        text-transform: uppercase;
    }

}