<section class="blog-one">

    <div class="container">

        <div class="blog-one__wrapper">

            <div class="blog-one__inner">
            
            {% include  "app/module/blog-one/_blog-one__item.html"  %}

            {% include  "app/module/blog-one/_blog-one__comments.html"  %}

            {% include  "app/module/blog-one/_blog-one__bottom.html"  %}

            </div>

            {% include  "app/module/blog-one/_blog-one__aside.html"  %}

        </div>

    </div>
</section>