.breadcrumbs {
  text-align: center;

  padding: 32px 0;

  background-color: #edf1f4;

  @media(max-width: $md) {
    padding: 28px 0;
  }

  @media(max-width: $sm) {
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 15px;
    @extend %rubik-300;
    font-size: 36px;
    color: #222933;

    @media(max-width: $md) {
      font-size: 28px;
    }

    @media(max-width: $sm) {
      margin-bottom: 8px;

      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    font-size: 14px;
    &:not(:last-child) {
      padding-right: 5px;
      &:after {
        content: "/";
        font-size: inherit;
      }
    }

    @media(max-width: $md) {
      font-size: 12px;
    }

    @media(max-width: $sm) {
      font-size: 10px;
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: inherit;
    color: rgba(34, 41, 51, 0.6);
  }
    
}
