.main-slider {
  
    &__wrapper {
      background-color: $bg;
    }
  
    &__inner {
      position: relative;
    }
  
    &__item {
      position: relative;
  
      display: flex !important;
      max-width: 1430px;
      margin: 0 auto;
      padding: 100px 0 200px;
  
  
      &::after {
        content: "";
        position: absolute;
        left: 49%;
        width: 634px;
        height: 634px;
        background: linear-gradient( 90deg, rgba(255,255,255, 0) 0%, rgb(255,255,255) 100%);
        border-radius: 50%;
      }
  
    }
    
    &__text {
      flex: none;
      margin: 115px 0 0 130px;
      max-width: 470px;
    }
  
    &__title {
      margin-bottom: 25px;
      @extend %rubik-500;
      font-size: 72px;
      line-height: 1;
      
      text-transform: uppercase
    }
  
    &__discription {
      max-width: 370px;
      margin-bottom: 35px;
      @extend %rubik-400;
      font-size: 18px;
      line-height: 1.6;
      color: $accent;
    }
    
    &__img {
      z-index: 10;
      align-self: flex-end;
  
      margin-left: 60px;
  
      object-fit: none;
    }
  
    & .slick-dots {
      position: absolute;
      bottom: 42px;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
    }
    
    & li + li {
      margin-left: 10px;
    }
    
    & li.slick-active button{
      background-color: #ffffff;
      opacity: 1;
    }
  
    & button {
      max-width: 30px;
      width: 30px;
      min-height: 30px;
      @extend %rubik-500;
      font-size: 15px;
      line-height: 1;
      
      background-color: #ffffff;
      opacity: 0.3;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #fef7f0;
    
    &__item {
      position: relative;
      max-width: 370px;
      padding-left: 124px;
  
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 50px;
        width: 54px;
        height: 54px;
        @extend %image;
      }
      
      &--support::before {
        width: 51px;
        background-image: url("../images/icon/support.svg");
      }
  
      &--delivery::before {
        height: 37px;
        background-image: url("../images/icon/delivery.svg");
      }
  
      &--payment::before {
        height: 53px;
        background-image: url("../images/icon/payment.svg");
      }
  
    }
    
    &__title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 2.2;
      color: #414141;
    }
    
    &__text {
      max-width: 230px;
      @extend %dmsans-400;
      font-size: 16px;
      line-height: 1.8;
      color: #585858;
    }
}

@media(max-width: 1400px) {
  .main-slider {

    &__item {
      &::after {
        top: 70px;
        left: 44%;

        width: 600px;
        height: 600px;
      }
    }

    &__text {
      max-width: 360px;
      margin: 100px 0 0 80px;
    }

    &__title {
      margin-bottom: 20px;

      font-size: 60px;
    }

    &__discription {
      margin-bottom: 30px;

      font-size: 16px;
    }

    &__img {
      max-width: 550px;
      margin: 0 auto;
      
      object-fit: cover;
    }
  }

  .info {
    padding: 40px 40px;
  }
}

@media(max-width: 1095px) {
  .main-slider {
    &__item {
      padding: 80px 0 140px;
      &::after {
        top: 35px;
        left: 48%;

        width: 420px;
        height: 420px;
      }
    }

    &__text {
      margin: 65px 0 0 30px;
    } 

    &__img {
      max-width: 420px;
      margin: auto auto;
    }
  }

  .info {
    padding: 40px 10px;

    &__item {
      padding-left: 100px;
        
      &:first-child {
        padding-left: 90px;
      }

      &::before {
        left: 28px;
      }
    }

    &__title {
      font-size: 15px;
    }

    &__text {
      max-width: 160px;

      font-size: 14px;
    }
  }
}

@media(max-width: 850px) {

  .main-slider {

    &__item {
      &::after {
        display: none;
      }
    }

    &__text {
      text-align: center;

      max-width: 100%;
      margin: 0 auto;
    }

    &__title {
      font-size: 48px;
    }

    &__discription {
      margin: 0 auto 30px;
    }

    &__img {
      display: none !important;
    }
  }

  .info {
    flex-direction: column;

    padding: 15px 10px;

    &__item {
      max-width: 270px;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

@media(max-width: 575px) {
  .main-slider {
    &__item {
        padding: 40px 0 80px;
    }

    &__title {
      font-size: 30px;
    }

    &__discription {
      margin-bottom: 20px;
      padding: 0 15px;

      font-size: 14px;
    }

    .link-btn {
      max-width: 150px;
      padding: 14px 38px 14px 0px;

      font-size: 14px;

      &::after {
        top: 16px;
      }
    }

    .slick-dots {
      bottom: 25px;
    }
  }

  .info {
    &__item {
      padding-left: 80px;

      &:first-child {
        padding-left: 70px;
      }

      &::before {
        left: 3px;
      }
    }
  }
}