.sponsors {
  z-index: -10;
  position: relative;
  min-height: 300px;
  background-color: #fef7f0;
  
  @media(max-width: $sm) {
    min-height: 220px;
  }

  &__item {
    max-width: 150px;
    img {
      display: inline-block;
    }
  }
    
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 300px;
    padding-bottom: 90px;

    @media(max-width: $sm) {
      min-height: 220px;
      padding-bottom: 50px;
    }
  }
}