.team {
    padding: 120px 0 0;
  
    &__wrapper {
      display: flex;
    }
  
    &__aside {
      max-width: 280px;
      margin-right: 120px;
    }
  
    &__title {
      margin-bottom: 40px;
    }
  
    &__discription {
      margin-bottom: 40px;
  
      @extend %rubik-400;
      font-size: 16px;
      color: rgb(36, 63, 77);
      line-height: 1.8;
    }
    
    &__btn {
      max-width: 150px;
      padding: 18px 40px 18px 15px;
  
      border-radius: 5px;
  
      &::after {
        top: 20px;
      }
    }
  
    &__items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      grid-gap: 100px 30px;
      width: 100%;
    }
  
    &__item {
      position: relative;
  
      max-width: 370px;
      width: 100%;
      min-height: 320px;
  
      @extend %image;
    }
  
    &__bottom {
      position: absolute;
      left: 0;
      bottom: -55px;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 325px;
      width: 100%;
      min-height: 110px;
      padding: 0 20px 0 25px;
  
      background-color: #ffffff;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    
    &__name {
      margin-bottom: 5px;
  
      @extend %dmsans-700;
      font-size: 22px;
      line-height: 1.18;
    }
  
    &__profession {
      @extend %rubik-400;
      font-size: 16px;
      line-height: 1.875;
      color: #565872;
    }
  
    &__link {
      display: inline-block;
      width: 40px;
      height: 40px;
  
      background-color: #f6f6f6;
      border-radius: 50%;
  
      @extend %image;
      background-size: auto;
  
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &--instagram {
        background-image: url("../images/icon/instagram.svg");
      }
  
      &--google {
        background-image: url("../images/icon/google.svg");
      }
    }
  
}